<router-outlet>
   <header>
      <h1>Parameters</h1>
      <section class="container">
         <div class="container-for">
            <h4>Curency</h4>
            <select [(ngModel)]='currencyCode'>
               <option *ngFor="let currency of paramCcArray" [value]="currency">
                  {{currency}}
               </option>
            </select>
         </div>

         <form class="container-for">
            <label for="start">Start:</label>
            <input [(ngModel)]='startDate' type="date" name="startDate">

            <label for="end">End:</label>
            <input [(ngModel)]='endDate' name="endDate" type="date" id="end">
         </form>
         <form class="container-for">
            <button (click)="isShowBar = !isShowBar" (click)='getDate()'>Bar</button>
            <button (click)='isShowChart = !isShowChart' (click)='getDate()'>Chart</button>
         </form>
      </section>
   </header>
   <app-my-line-chart *ngIf='isShowChart' [exchangeData]="paramExDate"></app-my-line-chart>
   <app-bar-chart *ngIf='isShowBar' [exchangeBarDate]="paramExDate"></app-bar-chart>
</router-outlet>